@using Exam_Test.Models
<h2>Exam</h2>
<br /><br />
@(Html.DevExtreme().DataGrid<Exam_Test.Models.Exam>()

    .ID("gridContainer")
    .ShowBorders(true)
    .Paging(paging => paging.Enabled(false))
    .Editing(editing =>
    {
        editing.Mode(GridEditMode.Row);
        editing.AllowAdding(true);
        editing.AllowDeleting(true);
        editing.AllowUpdating(true);
    })
    .Columns(columns =>
    {
        columns.AddFor(m => m.examName);
        columns.AddFor(m => m.subjectId)
            .Lookup(Lookup => Lookup
                .DataSource(d => d.Mvc().Controller("Exams").LoadAction("GetSubjects").Key("subjectId"))
                .DisplayExpr("name")
                .ValueExpr("subjectId")
                )
            ;

    })
    .DataSource(d => d.Mvc()
        .Controller("Exams")
        .LoadAction("GetExams")
        .UpdateAction("Put")
        .InsertAction("Post")
        .DeleteAction("Delete")
        .Key("examId")
        .Area("Admin")
        
        
    )
    .OnEditingStart(@<text> function(e) { logEvent("EditingStart"); } </text>)
.OnInitNewRow(@<text> function(e) { logEvent("InitNewRow"); } </text>)
.OnRowInserting(@<text> function(e) { logEvent("RowInserting"); } </text>)
.OnRowInserted(@<text> function(e) { logEvent("RowInserted"); } </text>)
.OnRowUpdating(@<text> function(e) { logEvent("RowUpdating"); } </text>)
.OnRowUpdated(@<text> function(e) { logEvent("RowUpdated"); } </text>)
.OnRowRemoving(@<text> function(e) { logEvent("RowRemoving"); } </text>)
.OnRowRemoved(@<text> function(e) { logEvent("RowRemoved"); } </text>)
)

<div id="events">
    <div>
        <div class="caption">
            Fired events
        </div>
        @(Html.DevExtreme().Button()
            .ID("clear")
            .Text("Clear")
            .OnClick(@<text> function() { $("#events ul").empty(); } </text>)
        )
    </div>
    <ul></ul>
</div>

<script>
    function logEvent(eventName) {
        var logList = $("#events ul"),
            newItem = $("<li>", { text: eventName });

        logList.prepend(newItem);
    }
</script>